html {
    font-family: 'Josefin Sans', sans-serif;
}


page-container {
    
}

/* NAV */
nav ul li {
    list-style-type: none;
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: .4rem;
}

nav ul li a:hover {
    background-color: hotpink;
    color: white;
    border-radius: 5px;
}

